h1 {
    font-size: 80px;
    font-family: Impact;
}

p {
    font-size: 35px;
}

button {
    width: 150px !important;
    height: 60px !important;
    color: white !important;
    border-radius: 30px !important;
}

button:hover {
    background-color: green !important;
    border-color: green !important;
}

@media screen and (max-width:300px) {
    button {
        width: auto !important;
    }
}